@charset "UTF-8";

@import "compass";

html,
body{
    margin: 0;
    padding: 0;
}

html{
    font: 1em/1.5 sans-serif;
    background-color: #fff;
    color: #333;
    height: 100% !important;
}

body{
    @include box-sizing(border-box);
    padding: 20px;
    width: 100%;
    height: 100%;
}

.tbl{
    width: 100%;
    height: 100%;
    background-color: blue;
    border-collapse: separate;
    border-spacing: 10px 10px;
    margin: 0;
    table-layout: fixed;
    td{
        border: 0;
        padding: 0;
        overflow: hidden;
        vertical-align: top;
        position: relative;
    }
    $i: 4;
    @while ($i > 0){
        .s#{$i}{
            width: 100% / $i;
        }
        $i: $i - 1;
    }
}

.cover{
    position: relative;
    overflow: hidden;
    background:{
        color: transparent;
        image: image_url('p.jpg');
        position: 50% 50%;
        size: cover;
        repeat: no-repeat;
    }

    &.a{
        background-image: url('http://placekitten.com/g/400/300');
    }
    &.b{
        background-image: image_url('j.jpg');
    }
}

.viewport{
    position: absolute;
    top: 0;
    overflow: hidden;
}