html,
body {
  margin: 0;
  padding: 0;
}

html {
  font: 1em/1.5 sans-serif;
  background-color: #fff;
  color: #333;
  height: 100% !important;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.tbl {
  width: 100%;
  height: 100%;
  background-color: blue;
  border-collapse: separate;
  border-spacing: 10px 10px;
  margin: 0;
  table-layout: fixed;
}
.tbl td {
  border: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
  position: relative;
}
.tbl .s4 {
  width: 25%;
}
.tbl .s3 {
  width: 33.33333%;
}
.tbl .s2 {
  width: 50%;
}
.tbl .s1 {
  width: 100%;
}

.cover {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  background-image: url('../images/p.jpg?1368728065');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover.a {
  background-image: url("http://placekitten.com/g/400/300");
}
.cover.b {
  background-image: url('../images/j.jpg?1368743448');
}

.viewport {
  position: absolute;
  top: 0;
  overflow: hidden;
}
